@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --clr-primary-pale-blue-color: #e0e8ff;
  --clr-primary-Bright-blue: #3829e0;

  --background-color: #ffffff;
  --Nutral-Very-pale-blue: #f5f7ff;
  --Nutral-Desaturated-blue: #7280a7;
  --Nutral-Dark-blue: #1f2f56;

  --Nutarl-white: #f8f9fe;

  --fs-body: 1rem;
  --fs-heading: 1.5rem;
  --ff: "Red Hat Display", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/pattern-background-desktop.svg");
  font-family: var(--ff);
  font-size: var(--fs-body);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--clr-primary-pale-blue-color);
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  margin: 4rem;
  min-height: 100dvh;
}
.card-container {
  max-width: 20rem;
  border: none;
  border-radius: 1.5rem;
  border-top-left-radius: 15%;
  margin: 0 auto;
  background-color: var(--background-color);
}

.card-img img {
  width: 100%;
  height: 25vh;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: var(--fs-heading);
  color: var(--Nutral-Dark-blue);
  margin: 10px;
  text-align: center;
}

.card-desc {
  font-size: var(--fs-body);
  color: var(--Nutral-Desaturated-blue);
  text-align: center;
  margin-bottom: 15px;
}

.plan-box {
  min-width: inherit;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--Nutarl-white);
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 0.8rem;
}

.plan-box-left {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.plan-content {
  margin-right: 20px;
}
.annual-plan {
  color: var(--Nutral-Dark-blue);
  font-size: var(--fs-body);
}
.plan-box-right a {
  color: var(--clr-primary-Bright-blue);
  gap: 20px;
  font-weight: var(--fw-700);
}

.planYear {
  color: var(--Nutral-Desaturated-blue);
  font-size: var(--fs-body);
  background-color: var(--Nutral-Very-pale-blue);
}
.payBtn {
  display: block;
  text-align: center;
  padding-inline: auto;
  padding-block: 10px;
  margin-bottom: 20px;
  font-weight: var(--fw-700);
  border: none;
  border-radius: 4%;
  background-color: var(--clr-primary-Bright-blue);
  color: var(--Nutarl-white);
  transform: 0.3s all ease-in;
  box-shadow: 1px 5px 5px 0px gray;
}

.payBtn:hover {
  background-color: var(--Nutral-Desaturated-blue);
}

.cancelBtn {
  text-align: center;
  font-weight: var(--fw-700);
  display: block;
  padding-inline: 50px;
  padding-block: 10px;
  margin-inline: auto;
  border-radius: 5%;
  border: none;
  color: var(--Nutral-Desaturated-blue);
  background-color: var(--background-color);
  box-shadow: 1px 2px 6px 0px gray;
}

@media (min-width: 320px) and (max-width: 460px) {
  body {
    font-size: 12px;
  }
  .card-container {
    max-width: 50rem;
  }
  .plan-box {
    font-size: 14px;
    justify-content: space-between;
  }
  .plan-box-left img {
    width: 1rem;
  }
  .plan-content > * {
    font-size: 0.6rem;
  }
  .plan-box-right {
    font-size: 0.6rem;
  }
  .payBtn {
    font-size: 10px;
  }
  .cancelBtn {
    font-size: 10px;
  }
}
